@font-face {
    font-family: futura;
    src: url('/fonts/futura-medium.ttf');
}

@font-face {
    font-family: futura;
    font-weight: lighter;
    src: url('/fonts/futura-light.ttf');
}

@font-face {
    font-family: futura;
    font-weight: bold;
    src: url('/fonts/futura-bold.ttf');
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'futura';
    width: 100vw;
    height: 100vh;
    background-color: #F0F8CF;
}

h1 {
    font-size: 2.75rem;
    text-align: center;
}

h2 {
    font-weight: 500;
}

button {
    background-color: #1E2B07;
    color: #F0F8CF;
    border: 0px;
    padding: 10px 20px;
}

button:hover {
    background-color: #3d4e19;
}

nav {
    width: 30%;
    height: 50px;
    border-radius: 1000px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.hero {
    width: 100vw;
    height: 100vh;

    /* For the gradient Background */
    background: url(gradient.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    /* Center all the Items */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-weight: 500;
}

.hero h1 {
    margin: 20px;
    font-weight: 500;
}

.hero button {
    font-size: 1rem;
    padding: 10px 30px;
}

.us {
    display: flex;
    position: relative;
    align-content: center;
    padding: 30px;
    height: 60%;
}

.us h2 {
    font-weight: lighter;
    font-size: 3.25rem;
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
}

.us img {
    height: 80%;
    position: absolute;
    right: 10%;
    opacity: 0.60;
}

@media screen and (max-width: 500px) {
    .hero {
        display: flex;
        align-items: start;
        text-align: left;
    }

    .hero h1 {
        text-align: left;
    }

    .hero button {
        margin: 0 0 0 20px;
    }

    .us {
        height: 80%;
    }

    .us h2 {
        font-size: 2.25rem;
        margin: 20px;
        left: 0;
    }

    .us img {
        height: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
        z-index: 101;
    }
}

.us img:hover {
    animation: fadeIn 0.3s;
    animation-fill-mode: forwards;
}

.offers {
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F9FCE9;
}

.paragraph {
    position: absolute;
    width: auto;
}

.datacenters {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    text-align: left;
    height: 40%;
}

.datacenters h1 {
    font-weight: 1000;
    text-align: left;
}

.locations {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 40px;
}

@media screen and (max-width: 700px) {
    .datacenters {
        display: block;
        padding: 20px;
    }

    .datacenters h1 {
        margin: 0 0 30px 0;
    }

    .locations {
        width: 100%;
        grid-template-columns: repeat(auto, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        margin: 0;
    }
}

.prices {
    background-color: #E1F1A5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product {
    background-color: #FFFFFF;
    margin: 10px;
    padding: 40px;
}

.product h2 {
    font-weight: bold;
    font-size: 2.25rem;
}

.product h3 {
    font-weight: lighter;
}